In [1]:
require 'daru/view'

Install the spreadsheet gem version ~>1.1.1 for using spreadsheet functions.

Install the mechanize gem version ~>2.7.5 for using mechanize functions.

"if(window['d3'] === undefined ||\n   window['Nyaplot'] === undefined){\n    var path = {\"d3\":\"https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min\",\"downloadable\":\"http://cdn.rawgit.com/domitry/d3-downloadable/master/d3-downloadable\"};\n\n\n\n    var shim = {\"d3\":{\"exports\":\"d3\"},\"downloadable\":{\"exports\":\"downloadable\"}};\n\n    require.config({paths: path, shim:shim});\n\n\nrequire(['d3'], function(d3){window['d3']=d3;console.log('finished loading d3');require(['downloadable'], function(downloadable){window['downloadable']=downloadable;console.log('finished loading downloadable');\n\n\tvar script = d3.select(\"head\")\n\t    .append(\"script\")\n\t    .attr(\"src\", \"http://cdn.rawgit.com/domitry/Nyaplotjs/master/release/nyaplot.js\")\n\t    .attr(\"async\", true);\n\n\tscript[0][0].onload = script[0][0].onreadystatechange = function(){\n\n\n\t    var event = document.createEvent(\"HTMLEvents\");\n\t    event.initEvent(\"load_nyaplot\",false,false);\n\t    window.dispatchEvent(event);\n\t    console.log('Finished loading Nyaplotjs');\n\n\t};\n\n\n});});\n}\n"

true

In [2]:
Daru::View.table_library = :datatables

:datatables

In [3]:
df = Daru::DataFrame.new({b: [11,12,13,14,15], a: [1,2,3,4,5],
      c: [11,22,33,44,55]},
      order: [:a, :b, :c],
      index: [:one, :two, :three, :four, :five])

#<Daru::DataFrame(5x3)>
           a     b     c
   one     1    11    11
   two     2    12    22
 three     3    13    33
  four     4    14    44
  five     5    15    55

In [4]:
dt_df =  Daru::View::Table.new(df, pageLength: 3)

#<Daru::View::Table:0x00000003ed09b0 @data=#<Daru::DataFrame(5x3)>
           a     b     c
   one     1    11    11
   two     2    12    22
 three     3    13    33
  four     4    14    44
  five     5    15    55, @options={:pageLength=>3}, @adapter=Daru::View::Adapter::DatatablesAdapter, @table=#<Daru::DataTables::DataTable:0x00000003ed0960 @options={:pageLength=>3}>>

In [5]:
dt_df.table.to_html

"\n<script type='text/javascript'>\n  \n$(document).ready(function() {\n\n  $('#c729c4fa-606e-44c1-92b0-c42806ea5dc5').DataTable(\n    {pageLength: 3}\n  );\n\n});\n</script>\n"

In [6]:
    table_opts = {
      class: "display",
      cellspacing: "0",
      width: "50%",
      table_html: "
      <thead>
            <tr>
                <th>Num1 </th>
                <th>Num2 </th>
                <th>Num3 </th>
            </tr>
        </thead>"
      }
    options = {
        table_options: table_opts
    }
html_code_dt_df = dt_df.table.to_html(id='table_id4', options)

"\n<script type='text/javascript'>\n  \n$(document).ready(function() {\n\n  $('#table_id4').DataTable(\n    {pageLength: 3}\n  );\n\n});\n</script>\n<table class=\"display\" cellspacing=\"0\" width=\"50%\" id=\"table_id4\">\n      <thead>\n            <tr>\n                <th>Num1 </th>\n                <th>Num2 </th>\n                <th>Num3 </th>\n            </tr>\n        </thead></table>"

In [7]:
IRuby.html html_code_dt_df

"\n<script type='text/javascript'>\n  \n$(document).ready(function() {\n\n  $('#table_id4').DataTable(\n    {pageLength: 3}\n  );\n\n});\n</script>\n<table class=\"display\" cellspacing=\"0\" width=\"50%\" id=\"table_id4\">\n      <thead>\n            <tr>\n                <th>Num1 </th>\n                <th>Num2 </th>\n                <th>Num3 </th>\n            </tr>\n        </thead></table>"